.body {
    font-family: Arial, Helvetica, sans-serif;
}

.h1, .p{
    text-align: center;
}

input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .btn1, .btn1{
    background-color: grey;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    border-radius: 15px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  a{
    text-decoration: none;
    color: white;
}

button:hover {
    opacity: 0.8;
    background-color: green;
}

.container2 {
    height:98%;
    width: 500px;
    padding: 50px; 
    border: 5px solid black;
    border-radius: 15px;
    box-shadow: 0 0 50px gray;
    background-color: transparent transparent transparent;
    position: absolute;
    top: 51%;
    
    left: 50%;
    transform: translate(-50%, -50%);
}