nav .container0 {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("./assets/Background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 80px;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0f0202;
    background: scroll;
    width: 100%;


}

ul .c{
    
    position: absolute;

}

li {
    float: right;
}

li .title {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    transition: background-color 0.3s;
    font-size: 18px;
}

li .title:hover {
    background-color: #555;
}

.cls {
    background-color: red;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    transition: background-color 0.3s;
    font-size: 18px;
}

.cls:hover {
    background-color: darkred;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding-top: 80px;
}

.h2 {
    color: #333;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

h4 {
    font-weight: bold;
}

p {
    color: #555;
    font-size: 16px;
    line-height: 1.6;
}

.logo {
    position: absolute;
    left: 40px;
    top: 20px;
    width: 135px;
    height: auto;
    border-radius: 50%;
    border: 2px solid #04AA6D;
    transition: transform 0.3s;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.logo:hover {
    transform: scale(1.3);
}

.Link {
    color: white;
    text-decoration: none;
}

button {
    text-align: center;
    display: block;
    /* background: linear-gradient(to right, #348147, #304b3c); */
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(25, 6, 6);
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    border-radius: 15px;
    width: 25%;
    justify-content: center;
}

button:hover {
    background-color: #4CAF50;
    transform: scale(1.10);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

Layout .container {
    justify-content: left;
}
